---
layout: default
title: webtwic
body-class: home
keywords: whizkydee, Olaolu Olawuyi, webtwic, programming, software, code, tech, computer stuff, games, cheatsheet, html, css, javascript, php, hacking, hack, websites, website development, web development, design, ui, ux
---

<section class="featured-posts-grid left">

  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z"></path></svg>
        March 18, 2015
      </time>

      <h3 class="article-title">
        <a href="web-dev">The truth about web development</a>
      </h3>

      <div class="article-excerpt">
        <p>
          Web development is not an ordinary job that is done easily, A larger percentage of people
          who don&rsquo;t have the knowledge of web development think Web Development
          is all about graphics, That&apos;s a mis-perception, they think it involves only graphics
          because of the visual display they see when they visit a website.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>


  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>

      <h3 class="article-title"><a href="js-array-iteration">Iterating over items of a JavaScript Array; The various ways</a></h3>

      <div class="article-excerpt">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorem
          ipsum voluptatum vel, tenetur, modi magnam! Quia eaque, facilis in delectus
          illum eligendi asperiores id doloremque ab voluptas illo obcaecati, numquam
          corporis reiciendis facere quae.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">
        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>
      </div>
    </div>
  </article>


  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>


      <h3 class="article-title"><a href="es6-promises">ES6: Understanding and Mastering Promises</a></h3>

      <div class="article-excerpt">
        <p>
          Promises is a new super-handy feature of ES6 everyone loves.
          Asynchronous coding in JavaScript has never been this simple.
          Promises in ES6 is all about creating alternatives a JavaScript
          code should follow when certain conditions are or are not met
          instead of creating multiple callbacks.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>

  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>


      <h3 class="article-title">
        <a href="js-service-workers">Tinkering with the JavaScript localStorage API</a>
      </h3>

      <div class="article-excerpt">
        <p>
          JavaScript <code>localStorage</code> is an API with super powers. It&apos;s a really
          cool API that stores specific data given by a webpage in the browser for specific
          functions over a defined period of time. The <code>localStorage</code> API works
          just like Cookies.

        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>

  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>

      <h3 class="article-title"><a href="github-atom">Atom: Github&apos;s hackable Text Editor</a></h3>

      <div class="article-excerpt">
        <p>
          Choosing the right text editor has been a major challenge to most developers.
          As a developer, getting the right text editor to meet your needs really matters;
          as a result of this, there are way lot of text editors available. In this article i&apos;ll
          be introducing you to Github&apos;s new text editor, Atom.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>

  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>

      <h3 class="article-title"> <a href="js-apis">Mastering Modern JavaScript APIs</a> </h3>

      <div class="article-excerpt">
        <p>
          These days, new APIs are being added to JavaScript rapidly; Keeping up to
          date with the modern APIs is a thing of concern to JavaScript developers.
          In this article, we&apos;d explore the recent APIs that have been made
          available and those still in review.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>

  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>

      <h3 class="article-title">
        <a href="form-validation">HTML5 Form Validation Techniques</a>
      </h3>

      <div class="article-excerpt">
        <p>
          Form validation is a really important aspect of forms on the web
          and other platforms. Most times we want to check (or more appropriately validate)
          data entered into a form by users. There are various ways of doing this on a webpage,
          we&apos;d be looking at the various methods and also discuss which is most appropriate.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>

  <article class="article radius shadow-alt">
    <div class="inner">

      <time>
        <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><path d="M41.172 46.828l-13.172-13.172v-17.657h8v14.343l10.828 10.828zM32 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM32 56c-13.255 0-24-10.745-24-24s10.745-24 24-24c13.255 0 24 10.745 24 24s-10.745 24-24 24z">
        </path></svg>
        March 18, 2015
      </time>


      <h3 class="article-title">
        <a href="how-to-speed-up-firefox">How to speed up Mozilla Firefox</a>
      </h3>

      <div class="article-excerpt">
        <p>
          Don&apos;t quit firefox because of the slowness as a result of your activities.
          There are diiferent methods you can use to speed up firefox but i&apos;ll be teaching you how to use firefox&apos;s page, i&apos;ll lead you. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet.
        </p>
      </div>

      <a href="web-dev" class="read-article">Read article</a>

      <div class="article-social">

        <p class="arrow">Share</p>
        <a target="_blank" href="https://www.facebook.com/sharer.php" data-network="facebook" data-share="true">
          <span class="webtwicons facebook-icon" aria-hidden="true"></span>
          <span class="tooltip">Facebook</span>
        </a>
        <a target="_blank" href="https://www.twitter.com/intent?tweet" data-network="twitter" data-share="true">
          <span class="webtwicons twitter-icon" aria-hidden="true"></span>
          <span class="tooltip">Twitter</span>
        </a>
        <a target="_blank" href="https://www.plus.google.com/webtwic" data-network="google" data-share="true">
          <span class="webtwicons google-plus-icon" aria-hidden="true"></span>
          <span class="tooltip">Google+</span>
        </a>
        <a target="_blank" href="" data-network="tumblr" data-share="true">
          <span class="webtwicons tumblr-icon" aria-hidden="true"></span>
          <span class="tooltip">Tumblr</span>
        </a>
        <a target="_blank" href="" data-network="pinterest" data-share="true">
          <span class="webtwicons pinterest-icon" aria-hidden="true"></span>
          <span class="tooltip">Pinterest</span>
        </a>

      </div>
    </div>
  </article>
</section><!---:: First Column div ::-->

{% include sidebar.html %}

<div class="empty-col sidebar radius shadow">

</div>

</aside><!---:: Third Column -->


{% include scroll_top.html %}
