.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.shadow {
	@include box-shadow(0px 0px 7px rgba(0, 0, 0, .1));
}

.shadow-alt {
  @include box-shadow(0px 8px 6px -6px rgba(0, 0, 0, .1));
}

.radius {
  @include border-radius(2px);
}

.radius-alt {
	@include border-radius(3px);
}

.radius-alter {
	@include border-radius(5px);
}

.circle, .round {
  @include border-radius($full);
}

.btn, .button {
  background: #57DD6B;
  border-width: 0px 0px 4px 0px;
  border-style: solid;
  border-color: #27C940;
  -webkit-appearance: none;
  &:hover {
     background: #6bd560;
 }
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.fixed {
  position: fixed;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  &:before, &:after {
	 clear: both;
	 content: "";
	 display: block;
	 font-size: 0px;
	 height: 0px;
	 line-height: 0;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-normal {
  font-weight: normal;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.display {
  display: block !important;
  visibility: visible;
  opacity: 1;
}

.webtwicons {
  z-index: 20;
  cursor: pointer;
  &:before, &:after {
	 z-index: 20;
	 cursor: pointer;
  }
}

[class*="btn-"] {
  @include transition(all .3s ease);
  position: relative;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

.btn-facebook, .btn-fb {
  background: $facebook;
  @include social_border($facebook);
}

.btn-facebook.hover:hover, .btn-fb.hover:hover {
  @include social_hover($facebook);
  @include social_border_hover($facebook);
}

.btn-twitter, .btn-twt {
  background: $twitter;
  @include social_border($twitter);
}

.btn-twitter.hover:hover, .btn-twt.hover:hover:hover {
  @include social_hover($twitter);
  @include social_border_hover($twitter);
}

.btn-google, .btn-gp {
  background: $google;
  @include social_border($google);
}

.btn-google.hover:hover, .btn-gp.hover:hover {
  @include social_hover($google);
  @include social_border_hover($google);
}

.btn-github {
  background: $github;
  @include social_border($github);
}

.btn-tumblr, .btn-tmb {
  background: $tumblr;
  @include social_border($tumblr);
}

.btn-tumblr.hover:hover, .btn-tmb.hover:hover {
  @include social_hover($tumblr);
  @include social_border_hover($tumblr);
}

.btn-pinterest, .btn-pin {
  background: $pinterest;
  @include social_border($pinterest);
}

.btn-pinterest.hover:hover, .btn-pin.hover:hover {
  @include social_hover($pinterest);
  @include social_border_hover($pinterest);
}

.btn-linkedin, .btn-in {
  background: $linkedin;
  @include social_border($linkedin);
}

.btn-linkedin.hover:hover, .btn-in.hover:hover {
  @include social_hover($linkedin);
  @include social_border_hover($linkedin);
}

.flat, .flat-button, .flat-btn {
  border: 0 none !important;
  outline: 0 none !important;
}

[class*="-column"] {
  position: relative;
}
