.pagination {
   width: 392px;
   height: 47px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   a {
      font-family: $font-alt;
      @include box-shadow(0px 0px 7px rgba(0, 0, 0, .04));
      @include transition(opacity .2s, padding .3s ease);
      border-bottom: 2px solid #f2f2f2;
      padding: 12px 18.5px;
      background: #f9f9f9;
      margin-right: 9px;
      position: relative;
      font-weight: 700;
      font-size: 1em;
      &:hover {
         opacity: .9;
         padding: 14px 20.5px;
      }
      &:nth-child(1) {
         background: #57DD6B;
         border-bottom: 2px solid #50D664;
         color: $white;
      }
      &:last-child {
         padding: 12px 21.5px;
         margin-right: 0;
         &:hover {
            padding: 14px 23.5px;
         }
      }
   }
}

.line {
   margin: 46px auto 50px auto;
   background: #D3D5D8;
   height: 1px;
   width: 46%;
   display: block;
}

.bug-holder {
   color: #ccc;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 30px;
   height: 45px;
   &:hover {
      color: #bbb;
   }
   .bug {
      text-align: center;
      @include transition(all .4s ease);
      &:before {
         display: block;
         margin-left: auto;
         margin-right: auto;
         font-size: 1.85em;
         cursor: pointer;
         width: 30px;
         height: 45px;
      }
   }
}
