
	<footer class="site-footer clear text-center" id="colophon">

			<div class="footer-inner text-center">
				<a href="" class="footer-logo">webtwic.</a>
				<div class="description-text">
					<p>{{ site.description }}</p>
				</div>

				<div class="social-buttons">

					<a target="_blank" href="{{ site.facebook_url }}"> <span class="webtwicons facebook-icon"></span> </a>
					<a target="_blank" href="{{ site.twitter_url }}"> <span class="webtwicons twitter-icon"></span> </a>
					<a target="_blank" href="{{ site.twitter_url }}"> <span class="webtwicons twitter-icon"></span> </a>
					<a target="_blank" href="{{ site.google_url }}"> <span class="webtwicons google-plus-icon"></span> </a>

				</div>

				<div class="help">
					<a href="../about">About</a>
					<a href="../contact">Contact</a>
					<a href="../write-for-us">Write for Us</a>
					<a href="../terms">Terms of Use</a>
				</div>

				<div class="donate-section">
					<a href="https://paypal.com" target="_blank">Donate</a>
				</div>

				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			</div>
		</footer>

		<div id="site-info">
			<span>&copy; {{ site.time | date: '%Y' }} Whizkydee Inc. Trademarks and brands are the property of their respective owners.</span>
			<span>Designed with </span><span class="heart">❤</span> by <a class="colophon-link" href="https://github.com/whizkydee" target="_blank">Olaolu Olawuyi</a>
		</div>
		<div id="ft-logo"></div>
