<head>
   <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
   <meta charset="UTF-8" />
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="author" content="whizkydee | Olaolu Olawuyi" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
   <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% endif %}" />
   <meta property="og:locale" content="en-US" />
   <meta property="og:type" content="website" />
   <meta property="og:title" content="Webtwic" />
   <meta property="og:description" content="{{ site.description }}" />
   <meta property="og:url" content="http://webtwic.com" />
   <meta property="og:site-name" content="webtwic" />
   <meta property="article:publisher" content="{{ site.facebook_url }}" />
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="{{ site.title }}" />
   <meta name="twitter:site" content="@{{ site.title }}" />
   <meta name="twitter:domain" content="{{ site.title }}" />
   <meta name="msapplication-TileColor" content="#6699cc">
   <meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png" />
   <meta name="theme-color" content="#6699cc" />

   <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" id="main-stylesheet" type="text/css"/>

   <script src="../js/libs/bowser.min.js" charset="utf-8" type="text/javascript" id="browser-script"></script>
   <script src="../js/libs/jquery.min.js" charset="utf-8" type="text/javascript" id="jquery-script"></script>
   <script src="../js/libs/modernizr.min.js" charset="utf-8" type="text/javascript" id="modernizr-script"></script>

   <script id="dsq-count-scr" src="//webtwic.disqus.com/count.js" async></script>

   <!--[if lt IE 9]>
   <script src="../assets/fallbacks/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
   <link rel="stylesheet" href="../assets/fallback/ltie9.css">
   <![endif]-->

   <!--[if IE 9]>
   <link rel="stylesheet" href="../assets/fallback/ie9.css">
   <![endif]-->

   <link rel="icon" href="../img/favicons/favicon-16x16.png" type="image/png" />
   <link rel="shortcut icon" href="../img/favicons/favicon-16x16.png" type="image/png" />
   <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png" />
   <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png" />
   <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-icon-72x72.png" />
   <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png" />
   <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png" />
   <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png" />
   <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png" />
   <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png" />
   <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png" />
   <link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png" />
   <link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png" />
   <link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png" />
   <link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png" />
   <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
   <link rel="next" href="http://webtwic.com/page/2/" />

   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript" charset="utf-8"></script> -->
   <script src="../js/dist/script.js" charset="utf-8" type="text/javascript" id="app-script"></script>
</head>
