<header class="secondary-header shadow">
      <div class="logo">
         <a class="desktop_logo" href="http://webtwic.com">webtwic.</a>
      </div>

{% include secondary-nav.html %}

      <div class="header-follow-search">
         <div class="follow-icons">
            <a href="{{ site.facebook_url }}" target="_blank" data-network-name="facebook">
               <span class="webtwicons facebook-official"></span>
            </a>

            <a href="{{ site.twitter_url }}" target="_blank" data-network-name="twitter">
               <span class="webtwicons twitter-icon"></span>
            </a>

            <a href="{{ site.google_url }}" target="_blank" data-network-name="google">
               <span class="webtwicons google-plus-icon"></span>
            </a>

            <a href="{{ site.youtube_url }}" target="_blank" data-network-name="youtube">
               <span class="webtwicons youtube-icon"></span>
            </a>

            <a href="{{ site.instagram_url }}" target="_blank" data-network-name="instagram">
               <span class="webtwicons instagram-icon"></span>
            </a>

            <a href="{{ site.pinterest_url }}" target="_blank" data-network-name="pinterest">
               <span class="webtwicons pinterest-icon"></span>
            </a>

            <a href="{{ site.linkedin_url }}" target="_blank" data-network-name="linkedin">
               <span class="webtwicons linkedin-square"></span>
            </a>
         </div>

         <div class="search-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M62.016 54.462l-15.16-12.893c-1.567-1.41-3.243-2.058-4.597-1.995 3.578-4.192 5.74-9.63 5.74-15.573 0-13.255-10.745-24-24-24s-24 10.745-24 24 10.745 24 24 24c5.944 0 11.382-2.162 15.574-5.74-0.063 1.354 0.585 3.030 1.995 4.597l12.893 15.16c2.208 2.453 5.814 2.66 8.014 0.46s1.993-5.806-0.46-8.014zM24 40c-8.836 0-16-7.163-16-16s7.163-16 16-16 16 7.163 16 16-7.163 16-16 16z"></path></svg>
         </div>

         <div class="ui-overlay-search">
            <span class="close-icon"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M 10.050,23.95c 0.39,0.39, 1.024,0.39, 1.414,0L 17,18.414l 5.536,5.536c 0.39,0.39, 1.024,0.39, 1.414,0 c 0.39-0.39, 0.39-1.024,0-1.414L 18.414,17l 5.536-5.536c 0.39-0.39, 0.39-1.024,0-1.414c-0.39-0.39-1.024-0.39-1.414,0 L 17,15.586L 11.464,10.050c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 15.586,17l-5.536,5.536 C 9.66,22.926, 9.66,23.56, 10.050,23.95z"></path></svg></span>

            <!-- Start main search-field -->

            <div class="search-input" data-focused="false">
               <form method="GET" action="s">
                  <input type="search" placeholder="Search...">
                  <span id="__expand"></span>
               </form>
               <p>Enter your search term above, or press escape to exit.</p>
            </div>
         </div>

      </div>


   </header>
{% include mobile-header.html %}
