		<aside class="sidebar-column left">

			<div class="tweets-wrap radius shadow sidebar">
				<div class="inner">
					<div class="category-title second-category-title"><p>Tweets</p></div>
					<a class="twitter-timeline" href="https://twitter.com/webtwic" data-widget-id="627849892539596800">Tweets by @webtwic</a>

					<script>
					! function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0],
						p = /^http:/.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + "://platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
					</script>
				</div>
			</div>

			<div class="trends-wrap radius shadow sidebar">

				<div class="category-title second-category-title">
					<p>
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
							<polygon points="192,128 130.2,189.8 223.7,288 330.7,181.3 480,384 330.7,256 223.7,368 92.8,227.2 32,288 32,128 "></polygon>
						</svg>
						Trending
					</p>
				</div>
				<ul class="category inner">

					<li class="category-feed"><a href="apple-windows-7">Apple Stops Supporting Windows 7 in Boot Camp on New MacBook Pro, MacBook Air Models</a></li>
					<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>
					<li class="category-feed"><a href="amazon-app">Design Shots is a Minimalist Dribbble Client for iPhone </a></li>
					<li class="category-feed"><a href="google-docs">Google Docs Lets Admins Distribute Add-ons for Full Teams</a></li>
					<li class="category-feed"><a href="apple-cameras">Apple Invites Cameras Into Its Secret Apple Watch Fitness Lab</a></li>
					<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>

				</ul>

			</div>

			<div class="search-wrap radius shadow sidebar">

				<form method="GET">
					<input class="sidebar-input left" type="search" name="s" placeholder="Search. e.g coding, html...">
					<button class="btn sidebar-button left">
						<svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
							<path d="M62.016 54.462l-15.16-12.893c-1.567-1.41-3.243-2.058-4.597-1.995 3.578-4.192 5.74-9.63 5.74-15.573 0-13.255-10.745-24-24-24s-24 10.745-24 24 10.745 24 24 24c5.944 0 11.382-2.162 15.574-5.74-0.063 1.354 0.585 3.030 1.995 4.597l12.893 15.16c2.208 2.453 5.814 2.66 8.014 0.46s1.993-5.806-0.46-8.014zM24 40c-8.836 0-16-7.163-16-16s7.163-16 16-16 16 7.163 16 16-7.163 16-16 16z"></path>
						</svg>
					</button>
				</form>

			</div>

			<div class="how-to-wrap radius shadow sidebar">

				<div class="category-title second-category-title"><p>How to</p></div>

				<ul class="category inner">

					<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>
					<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>
					<li class="category-feed"><a href="apple-windows-7">Apple Stops Supporting Windows 7 in Boot Camp on New MacBook Pro, MacBook Air Models</a></li>
					<li class="category-feed"><a href="amazon-app">Design Shots is a Minimalist Dribbble Client for iPhone </a></li>
					<li class="category-feed"><a href="google-docs">Google Docs Lets Admins Distribute Add-ons for Full Teams</a></li>
					<li class="category-feed"><a href="apple-cameras">Apple Invites Cameras Into Its Secret Apple Watch Fitness Lab</a></li>
				</ul>
			</div>

			<div class="freebies-wrap sidebar radius shadow">

				<div class="category-title second-category-title"><p>Freebies</p></div>

				<div class="inner">
					<a class="freebie-item" href="freebie-item">
						<div class="freebie-thumbnail"> <img src="..../img/freebies.jpg" width="64" height="56" alt="freebie"></div>
						<span>Material Form Design</span>
					</a>

					<a class="freebie-item" href="freebie-item">
						<div class="freebie-thumbnail"> <img src="..../img/freebies.jpg" width="64" height="56" alt="freebie"></div>
						<span>Cool Social Share Buttons</span>
					</a>

					<a class="freebie-item" href="freebie-item">
						<div class="freebie-thumbnail"> <img src="..../img/freebies.jpg" width="64" height="56" alt="freebie"></div>
						<span>Material Form Design</span>
					</a>

					<a class="freebie-item" href="freebie-item">
						<div class="freebie-thumbnail"> <img src="..../img/freebies.jpg" width="64" height="56" alt="freebie"></div>
						<span>Material Form Design</span>
					</a>

				</div>
			</div>

			<div class="coding-wrap sidebar radius shadow">

				<div class="category-title second-category-title"><p>Coding</p></div>
				<ul class="category inner">
					<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>
					<li class="category-feed"><a href="amazon-app">Amazon Is Reportedly Working on a 'Prime for Apps' Service</a></li>
					<li class="category-feed"><a href="apple-windows-7">Apple Stops Supporting Windows 7 in Boot Camp on New MacBook Pro, MacBook Air Models</a></li>
					<li class="category-feed"><a href="amazon-app">Design Shots is a Minimalist Dribbble Client for iPhone </a></li>
					<li class="category-feed"><a href="google-docs">Google Docs Lets Admins Distribute Add-ons for Full Teams</a></li>
					<li class="category-feed"><a href="apple-cameras">Apple Invites Cameras Into Its Secret Apple Watch Fitness Lab</a></li>
				</ul>

			</div>

			<div class="games-wrap sidebar radius shadow">

				<div class="category-title second-category-title"><p>Games</p></div>

				<div class="inner">

				</div>

			</div>

			<div class="empty-col sidebar radius shadow">

			</div>
