/* ==========================================================================
   Variables
   ========================================================================== */

$basefont: "Source Sans Pro", Calibri, "Trebuchet MS", Helvetica, Arial, georgia;
$font-alt: Calibri, "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, georgia;
$icons: webtwicons;
$icon: $icons;
$white: #fff;
$black: #000;
$basecolor: #6699cc;
$base-color: $basecolor;
$base_color: $basecolor;
$one: 1px;
$two: 2px;
$three: $one + $two;
$five: $three + $two;
$full: 100%;
$border: rgba(0, 0, 0, .06);
$solid: solid;
$solid_one: 1px $solid;
$ui_border: $solid_one $border;
