html,
body{
    background:#E5E7EA;
    margin:0px;
    font-family:"Trebuchet MS",Calibri,Helvetica,Arial,georgia;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height:1.5;
    clear:both;
    height:4000px;
}

::-moz-selection{background:#ff9b9b; color:#fff;}
::selection{background:#ff9b9b; color:#fff;}
::-webkit-selection{background:#ff9b9b; color:#fff;}
::-o-selection{background:#ff9b9b; color:#fff;}
::-ms-selection{background:#ff9b9b; color:#fff;}


.main a{
    text-decoration:none;
    color:#999;
}

nav, ul{
    padding:0px;
    margin:0px;
}

ul{
    list-style:none;
}

/*START MAIN PAGE*/

.main #top-line-rainbow{
    background:url("../images/top2.png") !important; 
    margin-top:0px !important;
    height:6px !important;
    position:fixed !important;
    top:0px !important;
    left:0px !important;
    right:0px !important;
    
    
}

.main #fixed #logo-holder-bg{
    background:#fff;
    width:auto;
    margin-top:6px;
    height:100px;
    border-bottom:7px solid #e9e9e9;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
}

.main #fixed #logo-holder-bg a img{
    vertical-align:middle;
    border:medium none;
    width:auto;
    height:100px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    -webkit-transition:background-image 1s ease-in-out;
    -moz-transition:background-image 1s ease-in-out;
    -o-transition:background-image 1s ease-in-out;
    transition:background-image 1s ease-in-out;
}


.main #fixed #logo-holder-bg a{
    width:250px;
}


.main #fixed #logo-holder-bg a #wbrnlg{
    vertical-align:middle;
    border:medium none;
    width:auto;
    height:100px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}


.main #fixed #logo-holder-bg a img[alt="webrane"]{
    vertical-align:middle;
    border:medium none;
    width:auto;
    height:100px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:40px;
    text-align:center;
    font-family:"Trebuchet MS", Calibri;
}


.main #fixed #nav-menu{
    width:auto;
    background:#fff;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    margin-top:0px;
    font-family:Calibri,"Trebuchet MS",Helvetica,Arial !important;
    height:39.23px;
    text-align:center;
    line-height:30px;
    margin:0 auto 30px auto;
    align-items:center;
    position:fixed;
    top:110px;
    left:0px;
    right:0px;
}


.main #fixed #nav-menu .menu-icon{
    display:none;
}


.main #fixed #nav-menu li{
    list-style:none;
    display:inline;
    transition:all 0.2s ease;
}


.main #fixed #nav-menu li a{
    text-decoration:none;
    color:#999;
    padding:5px 23px;
    font-family:Calibri,"Trebuchet MS",Helvetica,Arial !important;
    font-weight:normal;
    text-shadow:none !important;
    text-transform:lowercase;
    transition:all 0.2s ease;
    
}


.main #fixed #nav-menu li a:hover{
    color:#75b1d6;
    transition:border-bottom, color 0.3s ease-in;
    border-bottom:2px solid #75b1d6;
    padding-bottom:12.5px;
    border-top:3px solid #aaa;
    background:#eee;
}


/*.main #fixed #nav-menu li a[class="dropdwn"]{
    background:url("../images/drop.png");
    background-position:right;
    background-repeat:no-repeat;
    padding-right:12px;
}
.main #fixed #nav-menu li a[class="dropdwn"]:hover{
    padding-top:5px;
}*/



/*STYLES FOR DROPDOWN MENU */


.main #content{
    padding:40px 40px 0px;
    margin-top:120px;
}