@font-face {
  font-family: 'webtwicons';
  src: url('../webtwicons/webtwicons.eot');
  src: url('../webtwicons/webtwicons.woff2') format('woff2'), url('../webtwicons/webtwicons.woff') format('woff'), url('../webtwicons/webtwicons.ttf') format('truetype'), url('../webtwicons/webtwicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400);
