/* Start Iconset */

.webtwicons {
   display: inline-block;
   font: normal normal normal 14px/1 webtwicons;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   &.newspaper-icon:before {
      content: "\f1ea";
   }

   &.user-icon:before {
      content: "\f007";
   }

   &.calendar-icon:before {
      content: "\f073";
   }

   &.comment-icon:before {
      content: "\f075";
   }

   &.comments:before {
      content: "\f086";
   }

   &.comments-o:before {
      content: "\f0e6";
   }

   &.facebook-icon:before {
      content: "\f09a";
   }

   &.facebook-official:before {
      content: "\f230";
   }

   &.twitter-icon:before {
      content: "\f099";
   }

   &.google-plus-icon:before {
      content: "\f0d5";
   }

   &.pinterest-icon:before {
      content: "\f231";
   }

   &.tumblr-icon:before {
      content: "\f173";
   }

   &.youtube-icon:before {
      content: "\f16a";
   }

   &.instagram-icon:before {
      content: "\f16d";
   }

   &.linkedin-square:before {
      content: "\f08c";
   }

   &.github:before {
      content: "\f09b";
   }

   &.github-alt-icon:before {
      content: "\f113";
   }

   &.bug:before {
      content: "\f188";
   }

   &.close-button:before {
      content: "\f00d";
   }

   &.tags-icon:before {
      content: "\f02c";
   }

   &.chevron-left:before {
      content: "\f053";
   }

   &.chevron-right:before {
      content: "\f054";
   }

   &.envelope-icon:before {
      content: "\f0e0";
   }

   &.experimental:before,
   &.demo:before {
      content: "\f0c3";
   }

   &.circle:before,
   &.dot:before {
      content: "\f111";
   }

   &.heart:before {
      content: "\f004";
   }

   &.folder:before {
      content: "\f07b";
   }

   &.folder-open:before {
      content: "\f07c";
   }

   &.clock:before {
      content: "\f017";
   }

   &.hashtag:before {
      content: "\f292";
   }

   &.external-link:before {
      content: "\f08e";
   }
   /* End Iconset */
}
