/*

Start freebies.scss

* Date Created: 29/12/2015

* Last Modified: 29/12/2015

*/

body {
   &.freebies-page {
      .site-content {
         margin: 100px auto 0 auto;
         max-width: 1379px;
         width: $full;
      }
   }
}
.freebies-page {
   .freebies-section {
      width: $full;
      @extend .text-center;
      height: 500px;
   }
}
