---
layout: default
title: Articles &ndash; webtwic
body-class: category-page
keywords:
---
<h1 class="entryHeader">
	<span>Category:</span>
	Articles
</h1>

<div class="posts-grid">

	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">
				<a href="webdev"> <img src="../img/related-post2.jpg" width="276" height="169"> </a>
			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">The truth about Web development</a>
				</h2>

				<div class="post-meta">
					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>
				</div>

				<div class="description-holder">
					<p class="post-excerpt">
						Web development is not an ordinary job that is done easily, A larger percentage of people
						who don&rsquo;t have the knowledge of web development think Web Development
						is all about graphics, That&apos;s a mis-perception, they think it involves only graphics
						because of the visual display they see when they visit a website.
					</p>
				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>
			</div>
		</div>
	</article>


	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">
				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>
			</div>

			<div class="post-content">

				<h2 class="post-title"> <a href="js-array-iteration">Iterating over items of a JavaScript Array; The various ways</a> </h2>

				<div class="post-meta">
					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>
				</div>

				<div class="description-holder">
					<p class="post-excerpt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorem ipsum voluptatum vel, tenetur, modi magnam! Quia eaque, facilis in delectus illum eligendi asperiores id doloremque ab voluptas illo obcaecati, numquam corporis reiciendis facere quae.
					</p>
				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>

			</div>

		</div>
	</article>



	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">
				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>
			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">Tinkering with the JavaScript localStorage API</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>

				<div class="description-holder">
					<p class="post-excerpt">
						JavaScript <code>localStorage</code> is an API with super powers. It&apos;s a really
						cool API that stores specific data given by a webpage in the browser for specific
						functions over a defined period of time. The <code>localStorage</code> API works
						just like Cookies.
					</p>
				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>
			</div>

		</div>
	</article>


	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">

				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">ES6: Understanding and Mastering Promises</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>

				<div class="description-holder">

					<p class="post-excerpt">
						Promises is a new super-handy feature of ES6 everyone loves.
						Asynchronous coding in JavaScript has never been this simple.
						Promises in ES6 is all about creating alternatives a JavaScript
						code should follow when certain conditions are or are not met
						instead of creating multiple callbacks.
					</p>

				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>
			</div>

		</div>
	</article>



	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">

				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">Atom: Github's hackable Text Editor</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>


				<div class="description-holder">

					<p class="post-excerpt">
						Choosing the right text editor has been a major challenge to most developers.
						As a developer, getting the right text editor to meet your needs really matters;
						as a result of this, there are way lot of text editors available. In this article i&apos;ll
						be introducing you to Github&apos;s new text editor, Atom.
					</p>

				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>
			</div>

		</div>
	</article>



	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">

				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">Mastering Modern JavaScript APIs</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>

				<div class="description-holder">

					<p class="post-excerpt">
						These days, new APIs are being added to JavaScript rapidly; Keeping up to
						date with the modern APIs is a thing of concern to JavaScript developers.
						In this article, we&apos;d explore the recent APIs that have been made
						available and those still in review.
					</p>

				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>

			</div>

		</div>
	</article>



	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">

				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

			</div>
			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">How to create a circle with CSS</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>

				<div class="description-holder">

					<p class="post-excerpt">
						Creating a circle with CSS is something really cool, but some developers think it
						is difficult, really it isn't, it is something we play with everytime but we don't
						know it is the one, so i will teach you how to actually create this...
					</p>

				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>

			</div>

		</div>
	</article>



	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">

				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">HTML5 Form Validation Techniques</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>


				<div class="description-holder">

					<p class="post-excerpt">
						Form validation is a really important aspect of forms on the web
						and other platforms. Most times we want to check (or more appropriately validate)
						data entered into a form by users. There are various ways of doing this on a webpage,
						we&apos;d be looking at the various methods and also discuss which is most appropriate.
					</p>

				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>

			</div>

		</div>
	</article>



	<article class="post-wrap">
		<div class="post-wrap-inner">

			<div class="post-thumbnail">

				<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

			</div>

			<div class="post-content">

				<h2 class="post-title">
					<a href="webdev">How to take a screenshot on Android</a>
				</h2>

				<div class="post-meta">

					<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
					<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
					<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
					<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

				</div>


				<div class="description-holder">

					<p class="post-excerpt">
						Taking a screenshot on your Android phone is something that might be essential for making
						payments, certificates, guarantors etc. It's really easy to do this in a quick way, well
						it is in-built into all android devices to make it easier for you...
					</p>

				</div>

				<a class="read-post" href="webdev">
					Read Article
					<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

						<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
						</path>

					</svg>
				</a>
			</div>

		</div>
	</article>


</div>
<!--- End all Posts -->

{% include sidebar.html %}
</aside>

{% include scroll_top.html %}
