---
layout: default
title: Articles &ndash; webtwic
body-class: category-page
keywords:
---
		<h1 class="entryHeader">
			<span>Category:</span>
			 Articles
		</h1>

		<div class="posts-column left radius">

			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">
					<a href="webdev"> <img src="../img/related-post2.jpg" width="276" height="169"> </a>
				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">The truth about Web development</a>
					</h2>

					<div class="post-meta">
						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>
					</div>

					<div class="description-holder">
						<p class="post-excerpt">
							Web development is not an ordinary job that is done easily, 97% of people
							who don’t have the knowledge of web development think Web Development is
							all about graphics, no! That's very wrong, they think it involves only graphics
							because of the visual
						</p>
					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>
				</div>
			</div>
			</article>


			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">
					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>
				</div>

				<div class="post-content">

					<h2 class="post-title"> <a href="webdev">How to invite numerous friends on Facebook to like a page at once</a> </h2>

					<div class="post-meta">
						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>
					</div>

					<div class="description-holder">
						<p class="post-excerpt">
							You may be very worried on how you'll invite a large amount of friends to like a page on Facebook at once. It just has to do with you placing a javascript code into the console of your browser, don't worry...
						</p>
					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>

				</div>

			</div>
			</article>



			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">
					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>
				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">How to add Hibernate to Power Options in Windows 8</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>

					<div class="description-holder">
						<p class="post-excerpt">
							You guys may be thinking if Microsoft Windows removed Hibernate Option from Windows 8 PC's, i was also worried when i got mine, no worries i'll show you how. You need only Control Panel to get the stuff fixed...
						</p>
					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>
				</div>

			</div>
			</article>


			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">

					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">Amazing! How to view passwords hidden in dots</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>

					<div class="description-holder">

						<p class="post-excerpt">
							This is a very interesting way to show passwords hidden in dots. You just need some simple steps to follow, paste the javascript code in the console tab of your browser. I'll show you how. Be careful don't r...
						</p>

					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>
				</div>

			</div>
			</article>



			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">

					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">How to speed up Mozilla Firefox</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>


					<div class="description-holder">

						<p class="post-excerpt">
							Don't quit firefox because of the slowness as a result of your activities. There
							are diiferent methods you can use to speed up firefox but i'll be teaching you how
							to use firefox's page, to increase the spe...
						</p>

					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>
				</div>

			</div>
			</article>



			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">

					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">Top 3 free text editors you should try</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>

					<div class="description-holder">

						<p class="post-excerpt">
							Choosing the right text editor has been a major challenge to most developers. As a developer,
							getting the right text editor to meet your needs really matters As a result of this need,
							there are weigh lot of text editors available. In this article i'll take
						</p>

					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>

				</div>

			</div>
			</article>



			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">

					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

				</div>
				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">How to create a circle with CSS</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>

					<div class="description-holder">

						<p class="post-excerpt">
							Creating a circle with CSS is something really cool, but some developers think it
							is difficult, really it isn't, it is something we play with everytime but we don't
							know it is the one, so i will teach you how to actually create this...
						</p>

					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>

				</div>

			</div>
			</article>



			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">

					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">How to take a screenshot on Android</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>


					<div class="description-holder">

						<p class="post-excerpt">
							Taking a screenshot on your Android phone is something that might be essential
							for making payments, certificates, guarantors etc. It's really easy to do this
							in a quick way, well it is in-built into all android devices to make it easier for you...
						</p>

					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>

				</div>

			</div>
			</article>



			<article class="post-wrap radius">
				<div class="post-wrap-inner">

				<div class="post-thumbnail">

					<a href="webdev"><img alt="..." src="../img/related-post2.jpg" width="276" height="169"></a>

				</div>

				<div class="post-content">

					<h2 class="post-title">
						<a href="webdev">How to take a screenshot on Android</a>
					</h2>

					<div class="post-meta">

						<span class="webtwicons newspaper-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-category">Articles</a>
						<span class="webtwicons user-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-author">Olaolu Olawuyi</a>
						<span class="webtwicons calendar-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-date">July 18, 2015</a>
						<span class="webtwicons comment-icon" aria-hidden="true"></span><a href="/whizkydee" class="post-comments">Leave a Comment</a>

					</div>


					<div class="description-holder">

						<p class="post-excerpt">
							Taking a screenshot on your Android phone is something that might be essential for making
							payments, certificates, guarantors etc. It's really easy to do this in a quick way, well
							it is in-built into all android devices to make it easier for you...
						</p>

					</div>

					<a class="read-post" href="webdev">
						Read Article
						<svg width="18" height="18" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff">

							<path d="M 13.8,24.196c 0.39,0.39, 1.024,0.39, 1.414,0l 6.486-6.486c 0.196-0.196, 0.294-0.454, 0.292-0.71 c0-0.258-0.096-0.514-0.292-0.71L 15.214,9.804c-0.39-0.39-1.024-0.39-1.414,0c-0.39,0.39-0.39,1.024,0,1.414L 19.582,17 L 13.8,22.782C 13.41,23.172, 13.41,23.806, 13.8,24.196z">
							</path>

						</svg>
					</a>
				</div>

			</div>
			</article>


		</div>
		<!--- End all Posts -->

{% include sidebar.html %}
</aside>

{% include scroll_top.html %}
